:root {
    --headColor: #d64040;
    --toraxColor: #3cf197;
    --colorOnToggle: #000000;
}

#torax {
    /*style="opacity:0.414062;fill:#5fd096;fill-opacity:1"*/
    opacity: 0.40;
    fill: var(--toraxColor);
    fill-opacity: 1;
    stroke: none;
    transition: 0.5s;
}

#torax.toggledTorax {
    fill: var(--colorOnToggle);
}


#torax:hover {
    fill:var(--colorOnToggle);
}

#cabeca {
    /* style="opacity:0.575521;fill:#e9a0aa;fill-opacity:1;stroke:none;stroke-width:1.00157;stroke-dasharray:none;stroke-opacity:1" */

    fill:var(--headColor);
    fill-opacity:1;
    opacity:0.575521;
    stroke:none;
    stroke-width:1.00157;
    stroke-dasharray:none;
    stroke-opacity:1;
    transition: 0.5s;
}

#cabeca.toggledHead {
    fill: var(--colorOnToggle);
}

#cabeca:hover {
    fill:var(--colorOnToggle);
}

#vertebra {
     /* style="opacity:0.432292;fill:#f9cb62;fill-opacity:1;stroke:none;stroke-width:1.00157;stroke-dasharray:none;stroke-opacity:1" */
     opacity:0.432292;
     fill:#dbc858;
     fill-opacity:1;
     stroke:none;
     stroke-width:1.00157;
     stroke-dasharray:none;
     stroke-opacity:1;
    transition: 0.5s;
}

#vertebra.toggledVertebra {
    fill: var(--colorOnToggle);
}

#vertebra:hover {
    fill:var(--colorOnToggle);
}

#pata-dianteira {
    /* style="opacity:0.414;fill:#ac88e2;fill-opacity:1;stroke:none;stroke-width:1.00157;stroke-dasharray:none;stroke-opacity:0.307692" */
    opacity:0.414;
    fill:#ac88e2;
    fill-opacity:1;
    stroke:none;
    stroke-width:1.00157;
    stroke-dasharray:none;
    stroke-opacity:0.307692;
    transition: 0.5s;
}

#pata-dianteira.toggledForepaw {
    fill: var(--colorOnToggle);
}

#pata-dianteira:hover {
    fill:var(--colorOnToggle);
}

#pata-traseira {
    /* style="opacity:0.414062;fill:#4baae2;fill-opacity:1;stroke:none;stroke-width:1.00157;stroke-dasharray:none;stroke-opacity:1" */
    opacity:0.414062;
    fill:#4baae2;
    fill-opacity:1;
    stroke:none;
    stroke-width:1.00157;
    stroke-dasharray:none;
    stroke-opacity:1;
    transition: 0.5s;
}

#pata-traseira.toggledBackpaw {
    fill: var(--colorOnToggle);
}

#pata-traseira:hover {
    fill:var(--colorOnToggle);

}
/* textDivs */

#toraxDiv {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #000000;
}

#toraxDiv.toggledToraxDiv {
    display: block;
}

#headDiv {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #8b1e1e;
}

#headDiv.toggledHeadDiv {
    display: block;
}

#vertebraDiv {
    display: none;
    width: 500px;
    height: 600px;
    background-color: #51ff00;
}

#vertebraDiv.toggledVertebraDiv {
    display: block;
    margin: 0;
}

#forepawDiv {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #ffea31;
}

#forepawDiv.toggledForepawDiv {
    display: block;
}

#backpawDiv {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #ee31ff;
}

#backpawDiv.toggledBackpawDiv {
    display: block;
}